<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Song</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Back to Cookbook</a>
        <a href="/auth/signout">Sign Out</a>
        </nav>
    <h1>Edit Song</h1>
    <form action="/users/<%= userId %>/songs/<%= song._id %>?_method=PUT" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= song.name %>">
       
        <label for="quantity">Quantity:</label>
        <input type="string" id="artist" name="artist" value="<%= song.artist %>">

        <button type="submit">Update song</button>
</body>
</html>