<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New song</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>    
    <nav>
        <a href="/accounts">View All Users</a>
        <a href="/">Back to Home Page</a>
        <a href="/auth/signout">Sign Out</a>
    </nav>
    <h1>Add a new song to the favorites</h1>
    <form action="/users/<%= userId %>/songs" method="post">
        <label for="name">Song Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="artist">Artist:</label>
        <input type="string" id="artist" name="artist" required>
        
        <input type="submit" value="Add song">
    </form>
</body>
</html>