<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <a href="/accounts">View All Users</a>
        <a href="/">Back to Home Page</a>
        <a href="/auth/signout">Sign Out</a>
    </nav>
    <% if (users.length > 0) { %>
        <ul>
            <% users.forEach(user => { %>
                <li><a href="/users/<%= user._id %>"><%= user.username %></a></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No users found.</p>
    <% } %>

</body>
</html>